/* navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  /* Add additional styling as needed */
/* navbar.css */
.user-profile-dropdown {
    position: absolute;
    top: 80px; /* Adjust the top position as needed */
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    z-index: 1;
    color: black;
  }
  
  .user-profile-dropdown.show {
    display: block;
  }
    